# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include display.cfg]
[include steppers.cfg]
[include kamp.cfg]
[include gcode_macros.cfg]

[virtual_sdcard]
path: /home/debian/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
# rotation_distance: 7.71 # original from Bondtec
rotation_distance: 7.6329
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: PT1000
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
max_extrude_cross_section: 80

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2B0043000C50415833323420-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3500
max_z_velocity: 5
max_z_accel: 100

[firmware_retraction]
#retract_length: 0
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
pin_up_touch_mode_reports_triggered: True
probe_with_touch_mode: True
x_offset: 34
y_offset: 8
#z_offset: 4.05
speed: 10
samples: 3
sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3
speed: 10
samples: 2

[safe_z_home]
home_xy_position: 110,110 # Change coordinates to the center of your print bed
speed: 80
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 50
horizontal_move_z: 7
mesh_min: 40, 13
mesh_max: 210, 210
probe_count: 3, 3
algorithm: bicubic

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.001875, 0.021875, 0.016250
#*# 	0.006875, -0.007500, 0.006875
#*# 	-0.005625, -0.018750, 0.011250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 91.25
#*# max_x = 128.75
#*# min_y = 91.25
#*# max_y = 128.75
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.656
#*# pid_ki = 1.299
#*# pid_kd = 82.109
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.704
#*# pid_ki = 1.229
#*# pid_kd = 988.054
#*#
#*# [bltouch]
#*# z_offset = 1.900
